* {
    margin:0px;
    padding:0px;
}
.signature {
    width:1200px;
    display:flex;
    margin: 0 auto;
}
.signature .nav {
    width: 200px;
    background: rgb(124, 118, 118);
}
.signature .content {
    width: 1000px;
    background: rgb(248, 248, 248);
}
.signature .content .header {
    height: 500px;
    background: rgb(18, 200, 200);
}
/* .signature .content .section {
    background: rgb(238, 235, 235);
}  */
.signature .content .section h3{
    text-transform: uppercase;
    text-align: center;
    /* color: gray; */
    font-size: 25px;
    font-family: Segoe UI;
    margin: 20px 0;
}
.signature .content .section .sectionDown {
    display: flex;
    background: rgb(238, 235, 235);
    height: 400px;
    padding: 40px;
    justify-content: space-between;
}
.signature .content .section .sectionDown .traiAbout{
    width: 35%;
    background: rgb(255, 255, 255);
}
.signature .content .section .sectionDown .phaiAbout{
    width: 60%;
    background: rgb(255, 255, 255);
}
.signature .content .section .sectionDown .cotCapa{
    width: 48%;
    background: rgb(255, 255, 255);
}

.signature .content .section .sectionDown .hangExp {
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
    width: 100%;
}
.signature .content .section .sectionDown .cotEdu {
    width: 32%;
    background: rgb(255, 255, 255);
}

.signature .content .section .namdoc {
    flex-wrap: wrap;
}


.signature .content .section .sectionDown .trenContact {
    display: flex;
    /* background: rgb(255, 255, 255); */
    /* margin-bottom: 20px; */
    width: 100%;
    justify-content: space-between; 
    height: 230px;
}
.signature .content .section .sectionDown .trenContact .traiContact{
    width: 60%;
    background: rgb(255, 255, 255);
}
.signature .content .section .sectionDown .trenContact .phaiContact{
    width: 35%;
    background: rgb(255, 255, 255);
}
.signature .content .section .sectionDown .duoiContact {
    background: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    font-family: Segoe UI;
    height: 145px;
    font-size: 20px;
    /* padding-top:20px; */
}